/*flex*/
body, .section, .header, .right, .container, #third, #fourth, #four{
    display: flex;
}

/*flex direction*/
body, .section, #three{
    flex-direction: column;
}

 /*0 margin*/
 p, body{
    margin:0px;
}

/*header*/
.header{
    gap: 20px;
    padding: 25px 0;
    justify-content: center;
}

/* 0 auto*/
.container, #third, #three
{
    margin: 0 auto;
    flex-wrap: wrap;
}

/*class styles*/
.right{
    justify-content: flex-end;
}

.container{
    gap:50px;
}

.dynamic{
    max-width: 100%;
    max-height: 300px;
    flex-shrink: 1;
}

.text {
    max-width: 350px;
    max-height: 300px;
    flex: 1;
    overflow: hidden;
}

.images {
    max-width: 300px;
    max-height: 300px;
    border-radius: 5%;
    border: 2px solid blue;
}

.info {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.image-container{
    text-align: center;
    font-size: 20px;
}

.center{
    margin-top: 40px;
}

/*id styles*/
#third, #fourth, #fifth{
    justify-content: center;
    align-items: center;
}

#third, #fourth{
    height: 25%;
    width: 100%;
}

#first {
    background-color: #1F2937;
    color: white;
    padding: 10px 150px 50px 150px;
    text-align: left;
}

#third{
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

#fourth{
    margin:auto;
}

#fifth{
    background-color: #1F2937;
    color:white;
    padding:30px 0px;
}

#action{
    font-size: 23px;
    margin:0px;
}

#one{
    justify-content: center;
}

#two{
    flex-wrap:wrap;
    margin-bottom:40px;
    justify-content: center;
}

#three{
    max-width: 60%;
    padding: 75px 0;
}

#four{
    margin: 100px auto;
    max-width: 60%;
    padding: 30px 90px;
    background-color: #3882F6;
    color:white;
    border-radius: 10px;
    text-align: left;
}

/* Anchor Styles */
a {
    color: white;
    text-decoration: none;
}

/* Button Styles */
button {
    background-color: #3882F6;
    color: white;
    width:125px;
    height:35px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

#first-button{
    border:0px;
}

#second-button{
    margin-left:50px;
}

#button-border{
    border-color: white;
}
