/* Reset and base styles */
body, p {
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

/* Flex containers */
.section {
    display: flex;
    flex-direction: column;
}

.header, .container, .right, #third, #fourth, #fifth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header.right {
    justify-content: flex-end;
}

.container {
    gap: 50px;
    margin: 0 auto;
}

/* Header and sections */
.header {
    gap: 20px;
}

#first {
    background-color: #1F2937;
    color: white;
    padding: 10px 150px 50px;
}

#second .info, #third > div, #four > div, #fifth {
    text-align: center;
    font-size: 36px;
}

#third {
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

#fourth {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    margin: 100px auto;
    padding: 30px 90px;
}

#fifth {
    background-color: #1F2937;
    padding: 30px 0;
}

/* Text and images */
.text {
    max-width: 350px;
}

.dynamic, .images {
    max-height: 300px;
}

.dynamic {
    width: auto; /* Adjust width as necessary */
}

.images {
    width: 300px; /* Assuming you want to fix the width for images */
    border-radius: 5%;
    border: 2px solid blue;
}

/* Image container and buttons */
.image-container {
    font-size: 20px;
    text-align: center;
}

.button-border, .image-container > p {
    margin-top: 10px; /* Add spacing above buttons and image captions */
}

/* Button Styles */
button {
    background-color: #3882F6;
    color: white;
    width: 125px;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    border: none; /* Remove default border */
}

/* Centering specific elements */
.center {
    margin-top: 40px;
}

#one, #two {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#three, #four {
    flex-direction: column;
    max-width: 60%;
}

/* Adjusting padding and margins */
#one > .text {
    padding-right: 20px; /* Add right padding to text if images are to the right */
}

#four > div {
    margin-right: 20px; /* Add right margin to text if button is to the right */
}

#second-button {
    margin-left: 50px;
}

/* Section specific styles */
#action {
    font-size: 23px;
}

#first-button, #button-border {
    border: 0;
}

#button-border {
    border-color: white;
}

